
.section3{
    text-align: center;
}
.section2 {
    padding: 10%;
}

.inscrire {
    padding: 10%;
  

   
}
.inscrire1{
    padding-left: 10%;
    padding-right: 10%;
}

.service {
    padding-bottom: 10%;
}

.section1 {
    padding: 17%;
}
.animation{
      animation-duration: 20s;  
      animation-timing-function: ease;  
      animation-direction: normal;
      
}
